@import "fonts";
@import "sizes";

.container {
   max-width: $large-total-width - 60px;
   width: 95%;
   margin: 0 auto;
}

main {
   padding: 10px 20px;
}

.breadcrumbs {
   padding: 3px 20px;
   margin-bottom: 7px;
}

.bottom-spacer {
   margin: 15px;
}