@import "reset";
@import "colors";
@import "fonts";
@import "sizes";
@import "tag";

body {
   background: linear-gradient($primary-background, $dark-primary-background);
   font-size: 10pt;
}

header {
   background: linear-gradient($dark-secondary-background, $secondary-background);
   .container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .left {
         h3 {
            font-family: "Data Control", sans-serif;
         }
         #logo::before {
            content: "</>";
         }
      }
      .right {
         ul {
            height: 100%;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            text-decoration: none;
            list-style-type: none;
            .active {
               background: linear-gradient(transparent 20%, $yellow + $blue - #333);
            }
            li {
               padding: 0 5px;
               display: -webkit-flex;
               display: -ms-flexbox;
               display: flex;
               -webkit-align-items: center;
               -ms-flex-align: center;
               align-items: center;
               a {
                  text-decoration: none;
                  color: $black;
               }
            }
         }
      }
   }
}

a {
   color: $gray - #343434;
   text-decoration: none;
}

.underline {
   text-decoration: underline;
}

.black {
   color: $black;
}

main {
   background: $primary-background + #171717;
   border-radius: 5px;
}

article {
   heading {
      text-align: center;
   }
}

.bottom {
   padding-bottom: 7px;
}

.breadcrumbs {
   background: transparent;
   a {
      text-decoration: none;
      color: $black + #111;
   }
   a:not(:first-child)::before {
      content: " | ";
   }
   a:first-child {
      content: " ";
   }
}

.pagination {
   .current {
      input {
         min-width: 20px;
         max-width: 50px;
         text-align: center;
      }
   }
   .step-links {
      a {
         text-decoration: none;
         button {
            color: #ccc;
         }
         .enabled {
            color: $black;
         }
      }
   }
}

.shadow {
   box-shadow: 0 3px 10px #ccc;
}

hr {
   border: 0;
   height: 2px;
   margin: 6px 0;
   position: relative;
   background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.65)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
   background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

hr:before {
   content: "";
   display: block;
   border-top: solid 1px #f9f9f9;
   width: 100%;
   height: 1px;
   position: absolute;
   top: 50%;
   z-index: 1;
}

footer {
   text-align: center;
   a {
      text-decoration: none;
   }
}

.center {
   text-align: center;
}

.flex-inline {
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
}

.clear-list {
   list-style: none;
   padding-left: 5px;
}

@media all and (min-width: $large-total-width) and (orientation: landscape) {
   @import "large-landscape";
}

@media all and (max-width: $large-total-width - 1px) and (min-width: $medium-total-width) and (orientation: landscape) {
   @import "medium-landscape";
}