@import "bourbon/bourbon";

.center {
   text-align: center;
}

.centerh {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.centerv {
   display: table-cell;
   vertical-align: middle;
}