@import "bourbon/bourbon";

$font-stack: Aller sans-serif;
$font-size: 12pt;

$a-base: "a, a:visited";
$a-hovers: "a:hover, a:active";
$a-open: "a.open, a:hover";

@include font-face("Aller", "fonts/AllerDisplay");