@import "bourbon/bourbon";
@import "reset";
@import "colors";
@import "fonts";
@import "scrollbar";
@import "center";
@import "aside";
@import "navigation";
@import "loading-bar";
@import "footer";
@import "loading-bar";
@import "main";

body {
   font: $font-size $font-stack;
   background: $primary-backgroud;
   overflow: hidden;
}

.container {
   padding: 1%;
   margin: 0 0 0 $header-max-width;
}