{% extends 'blogbase.html' %}
{% block title %}{{ welcome_message }}{% endblock %}
{% block blog_title %}{{ blog_title }}{% endblock %}

{% block content %}
	{% comment %}<aside>
		<h2>Categories</h2>
    {% if categories %}
      <ul>
      {% for category in categories %}
        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>There are no posts.</p>
    {% endif %}
	</aside>{% endcomment %}
	<hr/>
	<main>
		<h2>Posts</h2>
    {% if posts %}
      {% for post in posts %}
        <article>
	        <heading><h4>{{ post.title }}</h4>
		        <span class="flex-inline">
			        {% comment %}{% for %}
				        <a href="{{ tag.get_absolute_url }}">tag.name</a>
				    {% endfor %}{% endcomment %}
		        </span>
		    </heading>
	        <p>{{ post.text|safe|truncatewords:"50"|linebreaks }}</p>
	        <a href="{{ post.get_absolute_url }}">read more</a>
	      </article>
	      <hr/>
      {% endfor %}

	  {% if posts.paginator.num_pages > 1 %}
	  <div class="pagination center">
	     <span class="step-links">
	       <a href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% endif %}">
		       <button class="{% if posts.has_previous %}enabled{% endif %}"> < </button>
	       </a>
           <span class="current">
             <input value="{{ posts.number }}/{{ posts.paginator.num_pages }}" readonly>
           </span>
           <a href="{% if posts.has_next %}?page={{  posts.next_page_number }}{% endif %}">
	           <button class="{% if posts.has_next %}enabled{% endif %}"> > </button>
           </a>
         </span>
	   </div>
	   {% endif %}

    {% else %}
      <p>There are no posts.</p>
    {% endif %}

	<section>
		<h2>Tags</h2>
		{%  if tags %}
			<div class="container">
				{% for tag in tags %}
					<a class="tag" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
				{% endfor %}
			</div>
			<br><br>
		{% else %}
			<p>There are no tags.</p>
		{% endif %}
	</section>

	<footer>
		<hr/>
		&copy <a href="mszynka.pl">Mateusz Szynka</a> {% now "Y" %}
	</footer>
	</main>
{% endblock %}