<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}Welcome to my blog{% endblock %}</title>
	<meta name="author" content="Mateusz Szynka">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static 'blog/favicon.ico' %}"/>
	<link rel="stylesheet" media="all" href="{% static 'blog/css/style.css' %}">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="{% static 'blog/js/codelisting.js' %}"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div class="container">
	<header>
		<div class="center">
			<h1><a class="black" href="/blog/">{% block blog_title %}{% endblock %}</a></h1>
		</div>
		<nav class="nav">
			<ul>
				<li class="{% if nav_home %}active{% endif %}"><a href="/blog/">Home</a></li>
				<li class="{% if nav_cat %}active{% endif %}"><a href="/blog/categories">Categories</a></li>
				<li class="{% if nav_tags %}active{% endif %}"><a href="/blog/tags">Tags</a></li>
			</ul>
		</nav>
	</header>
	<div class="breadcrumbs">
		<a href="/blog/">Home</a>
		{% block breadcrumbs %}{% endblock %}
	</div>
	<main class="shadow">
		<hr/>
		{% block title %}Welcome to my blog{% endblock %}
		<hr/>
		{% block content %}
		{% endblock %}

	</main>
</div>
<footer>
	<div>
		<a class="no-decoration" href="http://mszynka.pl">&copy; Mateusz Szynka {% now "Y" %}</a>
	</div>
	<div class="spacer"></div>
	<div>Powered by <a href="https://www.djangoproject.com/">Django</a>
	</div>
</footer>
</body>
</html>