<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}Welcome to my blog{% endblock %}</title>
    <meta name="author" content="Mateusz Szynka">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" media="all" href="{% static 'blog/css/style.css' %}">
  </head>
  <body>
    <header>
        <div class="container">
		    <div class="left">
			    <img alt="Face">
			    <h3>{% block blog_title %}{% endblock %}</h3>
		    </div>
		    <nav class="right">
			    {% block nav %}{% endblock %}
		    </nav>
        </div>
    </header>
    <main class="container shadow">
	    <a href="/blog/">Home</a> {% block breadcrumbs %}{% endblock %}
	    <h1>{% block title %}Welcome to my blog{% endblock %}</h1>
	    {% block content %}
	    {% endblock %}
    </main>
	</body>
</html>