<!DOCTYPE html>
<html>
<head>
	<title>Mateusz Szynka</title>
	<meta name="author" content="Mateusz Szynka">
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="description" content="Programmer, webdesigner, C/C++, Django, (S)CSS, HTML">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static 'thePage/favicon.ico' %}"/>
	<link rel="stylesheet" media="all and (orientation:landscape)" href="{% static 'thePage/css/landscape.css' %}">
	<link rel="stylesheet" media="all and (orientation:portrait)" href="{% static 'thePage/css/portrait.css' %}">
</head>
<body>
<aside>
	<nav>
		<img id="face" max-width="400px" max-height="400px" src="{% static 'thePage/images/face.svg' %}" alt="The Face">

		<h1 class="center" onclick="window.location = ''">{{ name }}</h1>
		<ul>
			{% for item in menu %}
				<li><a class="{% if item.open %}open{% endif %}"
				       href="{% if not item.open %}/{{ item.name }}/{% endif %}" title="{{ item.description }}"
						>{{ item.name }}</a></li>
			{% endfor %}
			<li><a class="" href="/blog">blog</a></li>
		</ul>
	</nav>
	<div class="services">
		<a href="mailto:devmsw12@gmail.com"><img class="service" src="{% static 'thePage/images/icon1.svg' %}"
		                                         alt="Email"></a>
		<a href="http://github.com/mszynka" target="_blank"><img class="service"
		                                                         src="{% static 'thePage/images/icon2.svg' %}"
		                                                         alt="GitHub"></a>
		<a href="http://www.linkedin.com/in/maszynka" target="_blank"><img class="service"
		                                                                   src="{% static 'thePage/images/icon3.svg' %}"
		                                                                   alt="LinkedIn"></a>
	</div>
</aside>
<main>
	{% for item in menu %}
		<section class="page-scroll" id="{{ item.name }}">

			{% if articles %}
				{% for piece in articles %}
					{% for article in piece %}
						{% if article.menu == item.name %}
							<article class="center">
								<header><h2 title="Posted {{ article.date }}">{{ article.title }}</h2></header>
								{% autoescape off %}{{ article.paragraphs }}{% endautoescape %}
							</article>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endif %}

		</section>
	{% endfor %}
</main>
<footer>&copy; Mateusz Szynka 2015</footer>
</body>
<!--<script type="text/javascript" src="{%  static 'thePage/js/angular.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'thePage/js/jquery-1.10.2.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{%  static 'thePage/js/jquery-ui.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{%  static 'thePage/js/scripts.js' %}"></script>-->
</html>
