{% extends 'blogbase.html' %}
{% block blog_title %}{{ blog_title }}{% endblock %}
{% block head_title %}Viewing tag {{ tag.title }}{% endblock %}
{% block title %}{{ tag.title }}{% endblock %}

{% block breadcrumbs %}<a href="{{ tag.slug }}">{{ tag.title }}</a>{% endblock %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
         <article>
	        <heading><h4>{{ post.title }}</h4></heading>
	        <p>{{ post.text|safe|truncatewords:"50"|linebreaks }}</p>
	        <a href="{{ post.get_absolute_url }}">read more</a>
	      </article>
        {% endfor %}
	  {% if posts.paginator.num_pages > 1 %}
	  <div class="pagination center">
	     <span class="step-links">
	       <a href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% endif %}">
		       <button class="{% if posts.has_previous %}enabled{% endif %}"> < </button>
	       </a>
           <span class="current">
             <input value="{{ posts.number }}/{{ posts.paginator.num_pages }}" readonly>
           </span>
           <a href="{% if posts.has_next %}?page={{  posts.next_page_number }}{% endif %}">
	           <button class="{% if posts.has_next %}enabled{% endif %}"> > </button>
           </a>
         </span>
	   </div>
	   {% endif %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}