{% extends 'blogbase.html' %}
{% block blog_title %}{{ blog_title }}{% endblock %}
{% block head_title %}{{ blog_title }} - {{ post.title }}{% endblock %}
{% block title %}
<h2 class="center black post-header">{{ post.title }}</h2>
<div class="info center small">
    <span class="medium-light">Posted:</span>
    <span class="light">{{ post.date|date:"d M Y" }}</span> <span class="medium-light">in</span>
    <a class="no-decoration light" href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
</div>
{% endblock %}

{% block breadcrumbs %}<a href="../category/{{ post.category.slug }}">{{ post.category }}</a>{% endblock %}

{% block content %}
<article class="no-border">
    {% autoescape off %}
    {{ post.text }}
    {% endautoescape %}
</article>
<hr/>
{% load staticfiles %}
<script src="{% static 'blog/js/angular.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/js/comments.js' %}"></script>
<div class="comments-container" ng-app="comments">
    <div class="comments">
        <h4>Comments</h4>

        {% if comments %}
        {% for comment in comments %}
        <div class="comment {% if comment.replies %}replies{% else %}no-reply{% endif %}">
            {{ comment.name }}
            {% if comment.website %} | {{ comment.website }}{% endif %} |
            {{ comment.date }}<br>
            <p class="comment-text">{{ comment.text }}</p>
        </div>
        {% if comment.replies %}
            <span class="replies-group">
        {% for reply in comment.replies %}
        <div class="reply">
            {{ reply.name }} | {{ reply.website }} | {{ reply.date }}
            <p class="reply-text">{{ reply.text }}</p>
        </div>
        {% endfor %}
            </span>
        {% endif %}

        {% endfor %}
        {% else %}
        <h6>No comments yet. Reply?</h6>
        {% endif %}

    </div>
    <div class="posts">
        {% if also_in_cat %}
        <h4>Also in <a class="no-decoration light" href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
        </h4>
        {% for a in also_in_cat %}
        <article>
            <heading>
                <a class="no-decoration" href="{{ a.get_absolute_url }}">{{ a.title }}</a><br>
                <span class="small bold">Posted: </span><span class="small">{{ a.date }}</span>
            </heading>
        </article>
        {% endfor %}
        {% else %}

        {% endif %}
    </div>
</div>
<div class="bottom-spacer"></div>
{% endblock %}