{% extends 'blogbase.html' %}
{% block blog_title %}{{ blog_title }}{% endblock %}
{% block head_title %}Viewing tag {{ tag.title }}{% endblock %}
{% block title %}{{ tag.title }}{% endblock %}

{% block breadcrumbs %}<a href="{{ tag.slug }}">{{ tag.title }}</a>{% endblock %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
         <article>
	        <heading><h4>{{ post.title }}</h4></heading>
	        <p>{{ post.text|safe|truncatewords:"50"|linebreaks }}</p>
	        <a href="{{ post.get_absolute_url }}">read more</a>
	      </article>
        {% endfor %}

	  <div class="pagination center">
	     <span class="step-links">
	       {% if posts.has_previous %}
	         <a href="?page={{ posts.previous_page_number }}">previous</a>
	       {% endif %}
           <span class="current">
             Page {{ posts.number }} of {{ posts.paginator.num_pages }}
           </span>
           {% if posts.has_next %}
             <a href="?page={{  posts.next_page_number }}">next</a>
           {% endif %}
         </span>
	   </div>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}