$font-stack: Sansation, sans-serif
$font-size: 12pt

$a-base: "a, a:visited, a:link"
$a-hovers: "a:hover, a:active"
$a-open: "a.open, a:hover"

@font-face 
   font-family: "Aller"
   src: url("../fonts/AllerDisplay.woff") format("woff"), url("../fonts/AllerDisplay.ttf") format("truetype")

@font-face 
   font-family: "Sansation"
   src: url("../fonts/Sansation-Regular.ttf") format("truetype")

@font-face 
   font-family: "Sansation Bold"
   src: url("../fonts/Sansation-Bold.ttf") format("truetype")

@font-face 
   font-family: "Sansation Italic"
   src: url("../fonts/Sansation-Italic.ttf") format("truetype")

@font-face 
   font-family: "Sansation Light"
   src: url("../fonts/Sansation-Light.ttf") format("truetype")

@font-face 
   font-family: "Tino"
   src: url("../fonts/Tino.ttf") format("truetype")

@font-face 
   font-family: "Tino Medium"
   src: url("../fonts/Tino Medium.ttf") format("truetype")